In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer
import seaborn as sns
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
import scipy.stats as stats
from scipy.stats import shapiro, poisson, chisquare, expon, kstest

# Fase 1: Exploración y Limpieza
## Exploración Inicial:
1) Realiza una exploración inicial de los datos para identificar posibles problemas, como valores
nulos, atípicos o datos faltantes en las columnas relevantes.
2) Utiliza funciones de Pandas para obtener información sobre la estructura de los datos, la
presencia de valores nulos y estadísticas básicas de las columnas involucradas.
3) Une los dos conjuntos de datos de la forma más eficiente.

In [9]:
df_f_act = pd.read_csv("C:/Users/Usuario/Documents/Adalab49/Módulo 3/bda-modulo-3-evaluacion-final-Maleni86/Customer Flight Activity.csv")
df_f_act.head()

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
0,100018,2017,1,3,0,3,1521,152.0,0,0
1,100102,2017,1,10,4,14,2030,203.0,0,0
2,100140,2017,1,6,0,6,1200,120.0,0,0
3,100214,2017,1,0,0,0,0,0.0,0,0
4,100272,2017,1,0,0,0,0,0.0,0,0

In [10]:
df_f_act.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 405624 entries, 0 to 405623
Data columns (total 10 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Loyalty Number               405624 non-null  int64
 1   Year                         405624 non-null  int64
 2   Month                        405624 non-null  int64
 3   Flights Booked               405624 non-null  int64
 4   Flights with Companions      405624 non-null  int64
 5   Total Flights                405624 non-null  int64
 6   Distance                     405624 non-null  int64
 7   Points Accumulated           405624 non-null  float64
 8   Points Redeemed              405624 non-null  int64
 9   Dollar Cost Points Redeemed  405624 non-null  int64
dtypes: float64(1), int64(9)
memory usage: 30.9 MB

In [11]:
df_l_hist = pd.read_csv("C:/Users/Usuario/Documents/Adalab49/Módulo 3/bda-modulo-3-evaluacion-final-Maleni86/Customer Loyalty History.csv")

df_l_hist.head()

,Loyalty Number,Country,Province,City,Postal Code,Gender,Education,Salary,Marital Status,Loyalty Card,CLV,Enrollment Type,Enrollment Year,Enrollment Month,Cancellation Year,Cancellation Month
0,480934,Canada,Ontario,Toronto,M2Z 4K1,Female,Bachelor,83236.0,Married,Star,3839.14,Standard,2016,2,NaN,NaN
1,549612,Canada,Alberta,Edmonton,T3G 6Y6,Male,College,NaN,Divorced,Star,3839.61,Standard,2016,3,NaN,NaN
2,429460,Canada,British Columbia,Vancouver,V6E 3D9,Male,College,NaN,Single,Star,3839.75,Standard,2014,7,2018.0,1.0
3,608370,Canada,Ontario,Toronto,P1W 1K4,Male,College,NaN,Single,Star,3839.75,Standard,2013,2,NaN,NaN
4,530508,Canada,Quebec,Hull,J8Y 3Z5,Male,Bachelor,103495.0,Married,Star,3842.79,Standard,2014,10,NaN,NaN

In [12]:
df_l_hist.columns

Index(['Loyalty Number', 'Country', 'Province', 'City', 'Postal Code',
       'Gender', 'Education', 'Salary', 'Marital Status', 'Loyalty Card',
       'CLV', 'Enrollment Type', 'Enrollment Year', 'Enrollment Month',
       'Cancellation Year', 'Cancellation Month'],
      dtype='object')

In [7]:
df_l_hist.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16737 entries, 480934 to 652627
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             16737 non-null  object
 1   Province            16737 non-null  object
 2   City                16737 non-null  object
 3   Postal Code         16737 non-null  object
 4   Gender              16737 non-null  object
 5   Education           16737 non-null  object
 6   Salary              12499 non-null  float64
 7   Marital Status      16737 non-null  object
 8   Loyalty Card        16737 non-null  object
 9   CLV                 16737 non-null  float64
 10  Enrollment Type     16737 non-null  object
 11  Enrollment Year     16737 non-null  int64
 12  Enrollment Month    16737 non-null  int64
 13  Cancellation Year   2067 non-null   float64
 14  Cancellation Month  2067 non-null   float64
dtypes: float64(4), int64(2), object(9)
memory usage: 2.0+ MB

3) Une los dos conjuntos de datos de la forma más eficiente.

In [13]:
df_unido = df_l_hist.merge(df_f_act, on=["Loyalty Number"], how="left")
df_unido.head()

,Loyalty Number,Country,Province,City,Postal Code,Gender,Education,Salary,Marital Status,Loyalty Card,CLV,Enrollment Type,Enrollment Year,Enrollment Month,Cancellation Year,Cancellation Month,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
0,480934,Canada,Ontario,Toronto,M2Z 4K1,Female,Bachelor,83236.0,Married,Star,3839.14,Standard,2016,2,NaN,NaN,2017,1,0,0,0,0,0.0,0,0
1,480934,Canada,Ontario,Toronto,M2Z 4K1,Female,Bachelor,83236.0,Married,Star,3839.14,Standard,2016,2,NaN,NaN,2017,2,3,0,3,2823,282.0,0,0
2,480934,Canada,Ontario,Toronto,M2Z 4K1,Female,Bachelor,83236.0,Married,Star,3839.14,Standard,2016,2,NaN,NaN,2017,3,0,0,0,0,0.0,0,0
3,480934,Canada,Ontario,Toronto,M2Z 4K1,Female,Bachelor,83236.0,Married,Star,3839.14,Standard,2016,2,NaN,NaN,2017,4,0,0,0,0,0.0,0,0
4,480934,Canada,Ontario,Toronto,M2Z 4K1,Female,Bachelor,83236.0,Married,Star,3839.14,Standard,2016,2,NaN,NaN,2018,10,6,2,8,3352,335.0,465,38

In [14]:
df_unido.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 405624 entries, 0 to 405623
Data columns (total 25 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Loyalty Number               405624 non-null  int64
 1   Country                      405624 non-null  object
 2   Province                     405624 non-null  object
 3   City                         405624 non-null  object
 4   Postal Code                  405624 non-null  object
 5   Gender                       405624 non-null  object
 6   Education                    405624 non-null  object
 7   Salary                       302952 non-null  float64
 8   Marital Status               405624 non-null  object
 9   Loyalty Card                 405624 non-null  object
 10  CLV                          405624 non-null  float64
 11  Enrollment Type              405624 non-null  object
 12  Enrollment Year              405624 non-null  int64
 13  Enrollment Month             405624 non-null  int64
 14  Cancellation Year            50064 non-null   float64
 15  Cancellation Month           50064 non-null   float64
 16  Year                         405624 non-null  int64
 17  Month                        405624 non-null  int64
 18  Flights Booked               405624 non-null  int64
 19  Flights with Companions      405624 non-null  int64
 20  Total Flights                405624 non-null  int64
 21  Distance                     405624 non-null  int64
 22  Points Accumulated           405624 non-null  float64
 23  Points Redeemed              405624 non-null  int64
 24  Dollar Cost Points Redeemed  405624 non-null  int64
dtypes: float64(5), int64(11), object(9)
memory usage: 77.4+ MB

## Limpieza de Datos: (Crear otro jupiter con la limpieza el anterior es solo para explorar, no para hacer ningun cambio)

1) Elimina o trata los valores nulos, si los hay, en las columnas clave para asegurar que los datos
estén completos.
2) Verifica la consistencia y corrección de los datos para asegurarte de que los datos se
presenten de forma coherente.
3) Realiza cualquier ajuste o conversión necesaria en las columnas (por ejemplo, cambiar tipos de
datos) para garantizar la adecuación de los datos para el análisis estadístico.

Fase 2: Visualización
Usando las herramientas de visualización que has aprendido durante este módulo, contesta a las siguientes
gráficas usando la mejor gráfica que consideres:

1) ¿Cómo se distribuye la cantidad de vuelos reservados por mes durante el año?
2) ¿Existe una relación entre la distancia de los vuelos y los puntos acumulados por los cliente?
3) ¿Cuál es la distribución de los clientes por provincia o estado?
4) ¿Cómo se compara el salario promedio entre los diferentes niveles educativos de los clientes?
5) ¿Cuál es la proporción de clientes con diferentes tipos de tarjetas de fidelidad?
6) ¿Cómo se distribuyen los clientes según su estado civil y género?