In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer
import seaborn as sns
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
import scipy.stats as stats
from scipy.stats import shapiro, poisson, chisquare, expon, kstest

# Fase 1: Exploración y Limpieza
## Exploración Inicial:
1) Realiza una exploración inicial de los datos para identificar posibles problemas, como valores
nulos, atípicos o datos faltantes en las columnas relevantes.
2) Utiliza funciones de Pandas para obtener información sobre la estructura de los datos, la
presencia de valores nulos y estadísticas básicas de las columnas involucradas.
3) Une los dos conjuntos de datos de la forma más eficiente.

# Primero cargamos el data frame y vemos los primeros datos

In [2]:
df_f_act = pd.read_csv("C:/Users/Usuario/Documents/Adalab49/Módulo 3/bda-modulo-3-evaluacion-final-Maleni86/Customer Flight Activity.csv")
df_f_act.head(10)

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
0,100018,2017,1,3,0,3,1521,152.0,0,0
1,100102,2017,1,10,4,14,2030,203.0,0,0
2,100140,2017,1,6,0,6,1200,120.0,0,0
3,100214,2017,1,0,0,0,0,0.0,0,0
4,100272,2017,1,0,0,0,0,0.0,0,0
5,100301,2017,1,0,0,0,0,0.0,0,0
6,100364,2017,1,0,0,0,0,0.0,0,0
7,100380,2017,1,0,0,0,0,0.0,0,0
8,100428,2017,1,6,0,6,606,60.0,0,0
9,100504,2017,1,0,0,0,0,0.0,0,0

In [ ]:
# Analizo la información de las columnas, una por una, si presentan datos atípicos, negativos, nulos y/o duplicados.

In [3]:
df_f_act.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 405624 entries, 0 to 405623
Data columns (total 10 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Loyalty Number               405624 non-null  int64
 1   Year                         405624 non-null  int64
 2   Month                        405624 non-null  int64
 3   Flights Booked               405624 non-null  int64
 4   Flights with Companions      405624 non-null  int64
 5   Total Flights                405624 non-null  int64
 6   Distance                     405624 non-null  int64
 7   Points Accumulated           405624 non-null  float64
 8   Points Redeemed              405624 non-null  int64
 9   Dollar Cost Points Redeemed  405624 non-null  int64
dtypes: float64(1), int64(9)
memory usage: 30.9 MB

In [4]:
df_f_act.shape

(405624, 10)

In [5]:
df_f_act.nunique() #Aqui reviso cuantos valores únicos por columnas hay

Loyalty Number                 16737
Year                               2
Month                             12
Flights Booked                    22
Flights with Companions           12
Total Flights                     33
Distance                        4746
Points Accumulated              1549
Points Redeemed                  587
Dollar Cost Points Redeemed       49
dtype: int64

Aqui exploro si tiene valores nulos y veo que no tiene ningún valor nulo

In [6]:
df_f_act.isna().sum()/df_f_act.shape[0]*100

Loyalty Number                 0.0
Year                           0.0
Month                          0.0
Flights Booked                 0.0
Flights with Companions        0.0
Total Flights                  0.0
Distance                       0.0
Points Accumulated             0.0
Points Redeemed                0.0
Dollar Cost Points Redeemed    0.0
dtype: float64

Aqui encontramos que hay 1864 duplicados, por ello vamos a identificar donde se encuentran y veremos como tratarlos:

In [7]:
df_f_act.duplicated().sum() # cuenta las filas que están duplicadas en mi dataframe

1864

In [8]:
df_f_act_duplicados = df_f_act[df_f_act.duplicated(keep=False)] #Aquí analizo cuales son las filas duplicadas y las reviso con sus filas originales

df_f_act_duplicados.head(20)  #Analizando los datos decido eliminar las filas duplicadas, ya que no me aportan ningún valor.

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
41,101902,2017,1,0,0,0,0,0.0,0,0
42,101902,2017,1,0,0,0,0,0.0,0,0
226,112142,2017,1,0,0,0,0,0.0,0,0
227,112142,2017,1,0,0,0,0,0.0,0,0
477,126100,2017,1,0,0,0,0,0.0,0,0
478,126100,2017,1,0,0,0,0,0.0,0,0
566,130331,2017,1,0,0,0,0,0.0,0,0
567,130331,2017,1,0,0,0,0,0.0,0,0
659,135421,2017,1,0,0,0,0,0.0,0,0
660,135421,2017,1,0,0,0,0,0.0,0,0
1034,156031,2017,1,0,0,0,0,0.0,0,0
1035,156031,2017,1,0,0,0,0,0.0,0,0
1334,106509,2017,1,0,0,0,0,0.0,0,0
1336,106509,2017,1,0,0,0,0,0.0,0,0
1339,106509,2017,2,0,0,0,0,0.0,0,0
1348,106509,2017,2,0,0,0,0,0.0,0,0
1379,106509,2017,3,0,0,0,0,0.0,0,0
1420,106509,2017,3,0,0,0,0,0.0,0,0
1451,106509,2017,4,0,0,0,0,0.0,0,0
1458,106509,2017,4,0,0,0,0,0.0,0,0

In [9]:
df_f_act_limpio = df_f_act.drop_duplicates() #Elimino las filas duplicadas, en una variable diferente y compruebe que ya no hayan duplicados.

In [10]:
df_f_act_limpio.head(20)

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
0,100018,2017,1,3,0,3,1521,152.0,0,0
1,100102,2017,1,10,4,14,2030,203.0,0,0
2,100140,2017,1,6,0,6,1200,120.0,0,0
3,100214,2017,1,0,0,0,0,0.0,0,0
4,100272,2017,1,0,0,0,0,0.0,0,0
5,100301,2017,1,0,0,0,0,0.0,0,0
6,100364,2017,1,0,0,0,0,0.0,0,0
7,100380,2017,1,0,0,0,0,0.0,0,0
8,100428,2017,1,6,0,6,606,60.0,0,0
9,100504,2017,1,0,0,0,0,0.0,0,0
10,100550,2017,1,3,0,3,2037,203.0,0,0
11,863070,2017,9,8,7,15,4245,424.0,341,28
12,100590,2017,1,0,0,0,0,0.0,0,0
13,100642,2017,1,0,0,0,0,0.0,0,0
14,100644,2017,1,0,0,0,0,0.0,0,0
15,100646,2017,1,0,0,0,0,0.0,0,0
16,100727,2017,1,11,0,11,1144,114.0,0,0
17,100737,2017,1,0,0,0,0,0.0,0,0
18,100753,2017,1,8,4,12,3264,326.0,0,0
19,100816,2017,1,9,1,10,2340,234.0,0,0

In [11]:
df_f_act_limpio.duplicated().sum() # Verifico que ya no existen filas duplicadas

0

In [12]:
df_f_act_limpio.info()

<class 'pandas.core.frame.DataFrame'>
Index: 403760 entries, 0 to 405623
Data columns (total 10 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Loyalty Number               403760 non-null  int64
 1   Year                         403760 non-null  int64
 2   Month                        403760 non-null  int64
 3   Flights Booked               403760 non-null  int64
 4   Flights with Companions      403760 non-null  int64
 5   Total Flights                403760 non-null  int64
 6   Distance                     403760 non-null  int64
 7   Points Accumulated           403760 non-null  float64
 8   Points Redeemed              403760 non-null  int64
 9   Dollar Cost Points Redeemed  403760 non-null  int64
dtypes: float64(1), int64(9)
memory usage: 33.9 MB

Aqui analizo los datos estadisticos de todas las columnas numéricas

In [ ]:
df_f_act.describe().T

,count,mean,std,min,25%,50%,75%,max
Loyalty Number,405624.0,550037.873084,258935.286969,100018.0,326961.00,550834.0,772194.00,999986.0
Year,405624.0,2017.500000,0.500001,2017.0,2017.00,2017.5,2018.00,2018.0
Month,405624.0,6.500000,3.452057,1.0,3.75,6.5,9.25,12.0
Flights Booked,405624.0,4.115052,5.225518,0.0,0.00,1.0,8.00,21.0
Flights with Companions,405624.0,1.031805,2.076869,0.0,0.00,0.0,1.00,11.0
Total Flights,405624.0,5.146858,6.521227,0.0,0.00,1.0,10.00,32.0
Distance,405624.0,1208.880059,1433.155320,0.0,0.00,488.0,2336.00,6293.0
Points Accumulated,405624.0,123.692721,146.599831,0.0,0.00,50.0,239.00,676.5
Points Redeemed,405624.0,30.696872,125.486049,0.0,0.00,0.0,0.00,876.0
Dollar Cost Points Redeemed,405624.0,2.484503,10.150038,0.0,0.00,0.0,0.00,71.0

In [7]:
df_l_hist = pd.read_csv("C:/Users/Usuario/Documents/Adalab49/Módulo 3/bda-modulo-3-evaluacion-final-Maleni86/Customer Loyalty History.csv")

df_l_hist.head()

,Loyalty Number,Country,Province,City,Postal Code,Gender,Education,Salary,Marital Status,Loyalty Card,CLV,Enrollment Type,Enrollment Year,Enrollment Month,Cancellation Year,Cancellation Month
0,480934,Canada,Ontario,Toronto,M2Z 4K1,Female,Bachelor,83236.0,Married,Star,3839.14,Standard,2016,2,NaN,NaN
1,549612,Canada,Alberta,Edmonton,T3G 6Y6,Male,College,NaN,Divorced,Star,3839.61,Standard,2016,3,NaN,NaN
2,429460,Canada,British Columbia,Vancouver,V6E 3D9,Male,College,NaN,Single,Star,3839.75,Standard,2014,7,2018.0,1.0
3,608370,Canada,Ontario,Toronto,P1W 1K4,Male,College,NaN,Single,Star,3839.75,Standard,2013,2,NaN,NaN
4,530508,Canada,Quebec,Hull,J8Y 3Z5,Male,Bachelor,103495.0,Married,Star,3842.79,Standard,2014,10,NaN,NaN

In [ ]:
df_l_hist["status"] = df_l_hist["Cancellation Year"].apply(lambda if x:"Activo")

In [8]:
df_l_hist.columns

Index(['Loyalty Number', 'Country', 'Province', 'City', 'Postal Code',
       'Gender', 'Education', 'Salary', 'Marital Status', 'Loyalty Card',
       'CLV', 'Enrollment Type', 'Enrollment Year', 'Enrollment Month',
       'Cancellation Year', 'Cancellation Month'],
      dtype='object')

In [9]:
df_l_hist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16737 entries, 0 to 16736
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Loyalty Number      16737 non-null  int64
 1   Country             16737 non-null  object
 2   Province            16737 non-null  object
 3   City                16737 non-null  object
 4   Postal Code         16737 non-null  object
 5   Gender              16737 non-null  object
 6   Education           16737 non-null  object
 7   Salary              12499 non-null  float64
 8   Marital Status      16737 non-null  object
 9   Loyalty Card        16737 non-null  object
 10  CLV                 16737 non-null  float64
 11  Enrollment Type     16737 non-null  object
 12  Enrollment Year     16737 non-null  int64
 13  Enrollment Month    16737 non-null  int64
 14  Cancellation Year   2067 non-null   float64
 15  Cancellation Month  2067 non-null   float64
dtypes: float64(4), int64(3), object(9)
memory usage: 2.0+ MB

In [10]:
df_l_hist.isnull().sum()

Loyalty Number            0
Country                   0
Province                  0
City                      0
Postal Code               0
Gender                    0
Education                 0
Salary                 4238
Marital Status            0
Loyalty Card              0
CLV                       0
Enrollment Type           0
Enrollment Year           0
Enrollment Month          0
Cancellation Year     14670
Cancellation Month    14670
dtype: int64

In [16]:
# Convertimos los nulos de 'Cancellation Year' y 'Cancellation Month' a 0 :porque los clientes activos no tienen año de cancelación y 'Activo' para identificar clientes que siguen en el programa.

df_l_hist["Cancellation Year"].fillna(0, inplace=True)
df_l_hist["Cancellation Month"].fillna("Activo", inplace=True)

In [ ]:
df_l_hist["Salary"].fillna(df_l_hist["Salary"].median(), inplace=True)

In [13]:
media_high_bachelor = df_l_hist[df_l_hist['Education'].isin(['High Schooll or Below', 'Bachelor'])]['Salary'].median()
media_high_bachelor

71960.0

3) Une los dos conjuntos de datos de la forma más eficiente.

## Limpieza de Datos: (Crear otro jupiter con la limpieza el anterior es solo para explorar, no para hacer ningun cambio)

1) Elimina o trata los valores nulos, si los hay, en las columnas clave para asegurar que los datos
estén completos.
2) Verifica la consistencia y corrección de los datos para asegurarte de que los datos se
presenten de forma coherente.
3) Realiza cualquier ajuste o conversión necesaria en las columnas (por ejemplo, cambiar tipos de
datos) para garantizar la adecuación de los datos para el análisis estadístico.

Fase 2: Visualización
Usando las herramientas de visualización que has aprendido durante este módulo, contesta a las siguientes
gráficas usando la mejor gráfica que consideres:

1) ¿Cómo se distribuye la cantidad de vuelos reservados por mes durante el año?
2) ¿Existe una relación entre la distancia de los vuelos y los puntos acumulados por los cliente?
3) ¿Cuál es la distribución de los clientes por provincia o estado?
4) ¿Cómo se compara el salario promedio entre los diferentes niveles educativos de los clientes?
5) ¿Cuál es la proporción de clientes con diferentes tipos de tarjetas de fidelidad?
6) ¿Cómo se distribuyen los clientes según su estado civil y género?